<div class="search-box">
    <i class="fa fa-bars" id="menu-btn" onclick="openmenu()" aria-hidden="true"></i>
    <i class="fa fa-times" id="close-btn" onclick="closemenu()" aria-hidden="true"></i>
    <img src="https://www.freelogodesign.org/file/app/client/thumb/4f63b1d8-97f1-46ca-b15c-c01706e187a5_200x200.png?1587468054140"alt="logo" class="logo"/>
    <input type="text" class="form-control"/>
    <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
</div>
<div class="menu-bar">
    <ul>
        <li><a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i> cart</a></li>
        <li><a routerLink="signup"  routerLinkActive="active">signup</a></li>
        <li><a routerLink="login" routerLinkActive="active">login</a></li>
    
    </ul>
</div>

