<div class="side-menu" id="side-menu">
    <ul>
        <li>On sale <i class="fa fa-angle-right" aria-hidden="true"></i>
            <ul>
                <li>submenu1 </li>
                <li>submenu1 </li>
                <li>submenu1 </li>
            </ul>
        </li>
        <li>Mobiles <i class="fa fa-angle-right" aria-hidden="true"></i>
            <ul>
                <li>submenu2 </li>
                <li>submenu2 </li>
                <li>submenu2 </li>
            </ul>
        </li>
        <li>Computers <i class="fa fa-angle-right" aria-hidden="true"></i>
            <ul>
                <li>submenu3 </li>
                <li>submenu3 </li>
                <li>submenu3 </li>
            </ul>
        </li>
        <li>Laptops <i class="fa fa-angle-right" aria-hidden="true"></i>
            <ul>
                <li>submenu4 </li>
                <li>submenu4 </li>
                <li>submenu4 </li>
            </ul>
        </li>
        <li>Sunglasses <i class="fa fa-angle-right" aria-hidden="true"></i>
            <ul>
                <li>submenu5 </li>
                <li>submenu5 </li>
                <li>submenu5</li>
            </ul>
        </li>
        <li>bottles <i class="fa fa-angle-right" aria-hidden="true"></i>
            <ul>
                <li>submenu6 </li>
                <li>submenu6 </li>
                <li>submenu6 </li>
            </ul>
        </li>
    </ul>
</div>