<div class="container">
    <div class="title-box">
        <h2>New Arrivals</h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="product-top">
                <img src="assets/images/product_6.jpg"/>
                <div class="overlay-right">
                    <button type="button" class="btn btn-secondary" title="Quick Shop" data-toggle="modal"
                    data-target="#quickModel">
                        <i class="fa fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                        <i class="fa fa-heart-o"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Cart" id="addcart">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <h3>Jeans</h3>
                <h5>{{1000 | currency:"&#8377;"}}</h5>
            </div>

        </div>
        <div class="col-md-3">
            <div class="product-top">
                <img src="assets/images/product_7.jpg"/>
                <div class="overlay-right">
                    <button type="button" class="btn btn-secondary" title="Quick Shop"data-toggle="modal"
                    data-target="#quickModel2">
                        <i class="fa fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                        <i class="fa fa-heart-o"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Cart">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <h3>Sunglass</h3>
                <h5>{{500 | currency:"&#8377;"}}</h5>
            </div>

        </div>
        <div class="col-md-3">
            <div class="product-top">
                <img src="assets/images/product_3.jpg"/>
                <div class="overlay-right">
                    <button type="button" class="btn btn-secondary" title="Quick Shop" data-toggle="modal"
                    data-target="#quickModel3">
                        <i class="fa fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                        <i class="fa fa-heart-o"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Cart">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <h3>Jeans Top</h3>
                <h5>{{800 | currency:"&#8377;"}}</h5>
            </div>

        </div>
        <div class="col-md-3">
            <div class="product-top">
                <img src="assets/images/product_8.jpg"/>
                <div class="overlay-right">
                    <button type="button" class="btn btn-secondary" title="Quick Shop" data-toggle="modal"
                    data-target="#quickModel4">
                        <i class="fa fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                        <i class="fa fa-heart-o"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Cart">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <h3>palazzo pants</h3>
                <h5>{{300 | currency:"&#8377;"}}</h5>
            </div>

        </div>
        <div class="col-md-3">
            <div class="product-top">
                <img src="assets/images/product_11.jpg"/>
                <div class="overlay-right">
                    <button type="button" class="btn btn-secondary" title="Quick Shop" data-toggle="modal"
                    data-target="#quickModel5">
                        <i class="fa fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                        <i class="fa fa-heart-o"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Cart">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <h3>Top</h3>
                <h5>{{800 | currency:"&#8377;"}}</h5>
            </div>

        </div>
        <div class="col-md-3">
            <div class="product-top">
                <img src="assets/images/product_1.jpg"/>
                <div class="overlay-right">
                    <button type="button" class="btn btn-secondary" title="Quick Shop" data-toggle="modal"
                    data-target="#quickModel6">
                        <i class="fa fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                        <i class="fa fa-heart-o"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Cart">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <h3>Jacket</h3>
                <h5>{{500 | currency:"&#8377;"}}</h5>
            </div>

        </div>
        <div class="col-md-3">
            <div class="product-top">
                <img src="assets/images/product_10.jpg"/>
                <div class="overlay-right">
                    <button type="button" class="btn btn-secondary" title="Quick Shop" data-toggle="modal"
                    data-target="#quickModel7">
                        <i class="fa fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                        <i class="fa fa-heart-o"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Cart">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <h3>Havaa Hat</h3>
                <h5>{{200 | currency:"&#8377;"}}</h5>
            </div>

        </div>
        <div class="col-md-3">
            <div class="product-top">
                <img src="assets/images/product_5.jpg"/>
                <div class="overlay-right">
                    <button type="button" class="btn btn-secondary" title="Quick Shop" data-toggle="modal"
                    data-target="#quickModel8">
                        <i class="fa fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                        <i class="fa fa-heart-o"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Cart">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <h3>Top</h3>
                <h5>{{2000 | currency:"&#8377;"}}</h5>
            </div>

        </div>

        <div id="quickModel" class="modal fade" role="dialog">
            <div class="modal-dialog">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  
                  <h4 class="modal-title">Product Description</h4>
                  <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="assets/images/product_6.jpg" style="width: 100%;"/>
                                <p style="margin-left: 50px;">Jeans</p>
                                    <h5 style="margin-left: 30px;">{{1000| currency:"&#8377;"}}</h5>
                                    <div className="price">
                                        <h6 className="oldprice">
                                        
                                        <sup>
                                            <i style="margin-left: 30px;"> 25% OFF</i>
                                        </sup> 
                                        </h6>
                                        <h6 style="margin-left: 30px;" className="newprice">
                                        Rs. 1000 +<abbr>99 shipping</abbr>
                                        </h6> 
                                    </div>
                            </div>
                            <div class="col-md-7">
                                <div class="container">
                                   <h3>Product Details:</h3>
                                   <p>
                                    Blue light wash 5-pocket mid-rise jeans, highly distressed with light fade, has a button and zip closure, waistband with belt loops
                                   </p>
                                   <p>
                                   <b>Size & Fit</b> 
                                    Skinny Fit
                                    Stretchable
                                    The model (height 5'8") is wearing a size 28
                                   </p>
                                   <p>
                                    <b>Material & Care</b>
                                    98.5% cotton, 1.5% elastane
                                    Machine-wash
                                   </p>
                                </div>
                              
                                  <button class="btn btn-warning ">
                                    Buy Now
                                  </button>
                            </div>
                        </div>
                       
                        
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
          
            </div>
          </div>
          <!-- p-2 -->
          <div id="quickModel2" class="modal fade" role="dialog">
            <div class="modal-dialog">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  
                  <h4 class="modal-title">Product Description</h4>
                  <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="assets/images/product_7.jpg" style="width: 100%;"/>
                                <p style="margin-left: 50px;">Jeans</p>
                                    <h5 style="margin-left: 30px;">{{500| currency:"&#8377;"}}</h5>
                                    <div className="price">
                                        <h6 className="oldprice">
                                        
                                        <sup>
                                            <i style="margin-left: 30px;"> 25% OFF</i>
                                        </sup> 
                                        </h6>
                                        <h6 style="margin-left: 30px;" className="newprice">
                                        Rs. 500 +<abbr>99 shipping</abbr>
                                        </h6> 
                                    </div>
                            </div>
                            <div class="col-md-7">
                                <div class="container">
                                   <h3>Product Details:</h3>
                                   <p>
                                    Blue light wash 5-pocket mid-rise jeans, highly distressed with light fade, has a button and zip closure, waistband with belt loops
                                   </p>
                                   <p>
                                   <b>Size & Fit</b> 
                                    Skinny Fit
                                    Stretchable
                                    The model (height 5'8") is wearing a size 28
                                   </p>
                                   <p>
                                    <b>Material & Care</b>
                                    98.5% cotton, 1.5% elastane
                                    Machine-wash
                                   </p>
                                </div>
                              
                                  <button class="btn btn-warning ">
                                    Buy Now
                                  </button>
                            </div>
                        </div>
                       
                        
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
          
            </div>
          </div>
          <div id="quickModel3" class="modal fade" role="dialog">
            <div class="modal-dialog">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  
                  <h4 class="modal-title">Product Description</h4>
                  <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="assets/images/product_3.jpg" style="width: 100%;"/>
                                <p style="margin-left: 50px;">Jeans</p>
                                    <h5 style="margin-left: 30px;">{{800| currency:"&#8377;"}}</h5>
                                    <div className="price">
                                        <h6 className="oldprice">
                                        
                                        <sup>
                                            <i style="margin-left: 30px;"> 25% OFF</i>
                                        </sup> 
                                        </h6>
                                        <h6 style="margin-left: 30px;" className="newprice">
                                        Rs. 800 +<abbr>99 shipping</abbr>
                                        </h6> 
                                    </div>
                            </div>
                            <div class="col-md-7">
                                <div class="container">
                                   <h3>Product Details:</h3>
                                   <p>
                                    Blue light wash 5-pocket mid-rise jeans, highly distressed with light fade, has a button and zip closure, waistband with belt loops
                                   </p>
                                   <p>
                                   <b>Size & Fit</b> 
                                    Skinny Fit
                                    Stretchable
                                    The model (height 5'8") is wearing a size 28
                                   </p>
                                   <p>
                                    <b>Material & Care</b>
                                    98.5% cotton, 1.5% elastane
                                    Machine-wash
                                   </p>
                                </div>
                              
                                  <button class="btn btn-warning ">
                                    Buy Now
                                  </button>
                            </div>
                        </div>
                       
                        
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
          
            </div>
          </div>
          <div id="quickModel4" class="modal fade" role="dialog">
            <div class="modal-dialog">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  
                  <h4 class="modal-title">Product Description</h4>
                  <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="assets/images/product_8.jpg" style="width: 100%;"/>
                                <p style="margin-left: 50px;">Jeans</p>
                                    <h5 style="margin-left: 30px;">{{300| currency:"&#8377;"}}</h5>
                                    <div className="price">
                                        <h6 className="oldprice">
                                        
                                        <sup>
                                            <i style="margin-left: 30px;"> 25% OFF</i>
                                        </sup> 
                                        </h6>
                                        <h6 style="margin-left: 30px;" className="newprice">
                                        Rs. 300 +<abbr>99 shipping</abbr>
                                        </h6> 
                                    </div>
                            </div>
                            <div class="col-md-7">
                                <div class="container">
                                   <h3>Product Details:</h3>
                                   <p>
                                    Blue light wash 5-pocket mid-rise jeans, highly distressed with light fade, has a button and zip closure, waistband with belt loops
                                   </p>
                                   <p>
                                   <b>Size & Fit</b> 
                                    Skinny Fit
                                    Stretchable
                                    The model (height 5'8") is wearing a size 28
                                   </p>
                                   <p>
                                    <b>Material & Care</b>
                                    98.5% cotton, 1.5% elastane
                                    Machine-wash
                                   </p>
                                </div>
                              
                                  <button class="btn btn-warning ">
                                    Buy Now
                                  </button>
                            </div>
                        </div>
                       
                        
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
          
            </div>
          </div>
          <div id="quickModel5" class="modal fade" role="dialog">
            <div class="modal-dialog">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  
                  <h4 class="modal-title">Product Description</h4>
                  <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="assets/images/product_11.jpg" style="width: 100%;"/>
                                <p style="margin-left: 50px;">Jeans</p>
                                    <h5 style="margin-left: 30px;">{{800| currency:"&#8377;"}}</h5>
                                    <div className="price">
                                        <h6 className="oldprice">
                                        
                                        <sup>
                                            <i style="margin-left: 30px;"> 25% OFF</i>
                                        </sup> 
                                        </h6>
                                        <h6 style="margin-left: 30px;" className="newprice">
                                        Rs. 800 +<abbr>99 shipping</abbr>
                                        </h6> 
                                    </div>
                            </div>
                            <div class="col-md-7">
                                <div class="container">
                                   <h3>Product Details:</h3>
                                   <p>
                                    Blue light wash 5-pocket mid-rise jeans, highly distressed with light fade, has a button and zip closure, waistband with belt loops
                                   </p>
                                   <p>
                                   <b>Size & Fit</b> 
                                    Skinny Fit
                                    Stretchable
                                    The model (height 5'8") is wearing a size 28
                                   </p>
                                   <p>
                                    <b>Material & Care</b>
                                    98.5% cotton, 1.5% elastane
                                    Machine-wash
                                   </p>
                                </div>
                              
                                  <button class="btn btn-warning ">
                                    Buy Now
                                  </button>
                            </div>
                        </div>
                       
                        
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
          
            </div>
          </div>
          <div id="quickModel6" class="modal fade" role="dialog">
            <div class="modal-dialog">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  
                  <h4 class="modal-title">Product Description</h4>
                  <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="assets/images/product_1.jpg" style="width: 100%;"/>
                                <p style="margin-left: 50px;">Jeans</p>
                                    <h5 style="margin-left: 30px;">{{500| currency:"&#8377;"}}</h5>
                                    <div className="price">
                                        <h6 className="oldprice">
                                        
                                        <sup>
                                            <i style="margin-left: 30px;"> 25% OFF</i>
                                        </sup> 
                                        </h6>
                                        <h6 style="margin-left: 30px;" className="newprice">
                                        Rs. 500 +<abbr>99 shipping</abbr>
                                        </h6> 
                                    </div>
                            </div>
                            <div class="col-md-7">
                                <div class="container">
                                   <h3>Product Details:</h3>
                                   <p>
                                    Blue light wash 5-pocket mid-rise jeans, highly distressed with light fade, has a button and zip closure, waistband with belt loops
                                   </p>
                                   <p>
                                   <b>Size & Fit</b> 
                                    Skinny Fit
                                    Stretchable
                                    The model (height 5'8") is wearing a size 28
                                   </p>
                                   <p>
                                    <b>Material & Care</b>
                                    98.5% cotton, 1.5% elastane
                                    Machine-wash
                                   </p>
                                </div>
                              
                                  <button class="btn btn-warning ">
                                    Buy Now
                                  </button>
                            </div>
                        </div>
                       
                        
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
          
            </div>
          </div>
          <div id="quickModel7" class="modal fade" role="dialog">
            <div class="modal-dialog">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  
                  <h4 class="modal-title">Product Description</h4>
                  <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="assets/images/product_10.jpg" style="width: 100%;"/>
                                <p style="margin-left: 50px;">Jeans</p>
                                    <h5 style="margin-left: 30px;">{{200| currency:"&#8377;"}}</h5>
                                    <div className="price">
                                        <h6 className="oldprice">
                                        
                                        <sup>
                                            <i style="margin-left: 30px;"> 25% OFF</i>
                                        </sup> 
                                        </h6>
                                        <h6 style="margin-left: 30px;" className="newprice">
                                        Rs.200 +<abbr>99 shipping</abbr>
                                        </h6> 
                                    </div>
                            </div>
                            <div class="col-md-7">
                                <div class="container">
                                   <h3>Product Details:</h3>
                                   <p>
                                    Blue light wash 5-pocket mid-rise jeans, highly distressed with light fade, has a button and zip closure, waistband with belt loops
                                   </p>
                                   <p>
                                   <b>Size & Fit</b> 
                                    Skinny Fit
                                    Stretchable
                                    The model (height 5'8") is wearing a size 28
                                   </p>
                                   <p>
                                    <b>Material & Care</b>
                                    98.5% cotton, 1.5% elastane
                                    Machine-wash
                                   </p>
                                </div>
                              
                                  <button class="btn btn-warning ">
                                    Buy Now
                                  </button>
                            </div>
                        </div>
                       
                        
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
          
            </div>
          </div>
          <div id="quickModel8" class="modal fade" role="dialog">
            <div class="modal-dialog">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  
                  <h4 class="modal-title">Product Description</h4>
                  <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="assets/images/product_5.jpg" style="width: 100%;"/>
                                <p style="margin-left: 50px;">Jeans</p>
                                    <h5 style="margin-left: 30px;">{{2000| currency:"&#8377;"}}</h5>
                                    <div className="price">
                                        <h6 className="oldprice">
                                        
                                        <sup>
                                            <i style="margin-left: 30px;"> 25% OFF</i>
                                        </sup> 
                                        </h6>
                                        <h6 style="margin-left: 30px;" className="newprice">
                                        Rs. 2000 +<abbr>99 shipping</abbr>
                                        </h6> 
                                    </div>
                            </div>
                            <div class="col-md-7">
                                <div class="container">
                                   <h3>Product Details:</h3>
                                   <p>
                                    Blue light wash 5-pocket mid-rise jeans, highly distressed with light fade, has a button and zip closure, waistband with belt loops
                                   </p>
                                   <p>
                                   <b>Size & Fit</b> 
                                    Skinny Fit
                                    Stretchable
                                    The model (height 5'8") is wearing a size 28
                                   </p>
                                   <p>
                                    <b>Material & Care</b>
                                    98.5% cotton, 1.5% elastane
                                    Machine-wash
                                   </p>
                                </div>
                              
                                  <button class="btn btn-warning ">
                                    Buy Now
                                  </button>
                            </div>
                        </div>
                       
                        
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
          
            </div>
          </div>
        
    </div>
</div>